In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
from selenium.webdriver.common.keys import Keys
import requests
import re

### Scrape the details of most viewed videos on YouTube from Wikipedia

In [2]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')

In [3]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [4]:
rank=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in name:
        rank.append(i.text[:-1])
except NoSuchElementException:
    rank.append('N/A')
except StaleElementReferenceException:
    rank.append('N/A')

In [5]:
namae=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in name:
        namae.append(i.text[1:-5])
except NoSuchElementException:
    namae.append('N/A')
except StaleElementReferenceException:
    namae.append('N/A')

In [6]:
artist=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in name:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('N/A')
except StaleElementReferenceException:
    artist.append('N/A')

In [7]:
views=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in name:
        views.append(i.text)
except NoSuchElementException:
    views.append('N/A')
except StaleElementReferenceException:
    views.append('N/A')

In [8]:
daty=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in name:
        daty.append(i.text)
except NoSuchElementException:
    daty.append('N/A')
except StaleElementReferenceException:
    daty.append('N/A')

In [9]:
dataframe=pd.DataFrame()
dataframe['Rank']=rank
dataframe['Video Name']=namae
dataframe['Artist']=artist
dataframe['Views (billions)']=views
dataframe['Upload Date']=daty
dataframe.style.hide_index()

### Scrape the details team India’s international fixtures from bcci.tv.

In [37]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://www.bcci.tv/'
driver.get(url)

In [38]:
btn=driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
btn.click()
btn = driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')
btn.click()

In [40]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [42]:
titly=[]
seriies=[]
loc=[]
daty=[]
timy=[]
for i in urls:
    driver.get(i)
    try:
        title = driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        titly.append(title.text)
    except NoSuchElementException:
        titly.append('N/A')
    
    try:
        series=driver.find_element_by_xpath("//span[@class='mc-header-info__match-description-match-type mc-theme-color']")
        seriies.append(series.text)
    except NoSuchElementException:
        seriies.append('N/A')
    
    try:
        place = driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        loc.append(place.text.split()[-1])
    except NoSuchElementException:
        loc.append('N/A')        
    
    try:
        date = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        daty.append(date.text)
    except NoSuchElementException:
        daty.append('N/A')

    try:
        timee = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        timy.append(timee.text)
    except NoSuchElementException:
        timy.append('N/A')
    
    time.sleep(2)

In [43]:
dataframe=pd.DataFrame()
dataframe['Match_title']=titly
dataframe['Series']=seriies
dataframe['Place']=loc
dataframe['Date']=daty
dataframe['Time']=timy
dataframe.style.hide_index()

### Scrape the details of selenium exception from guru99.com.

In [44]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://www.guru99.com/'
driver.get(url)

In [47]:
selenium_link=driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a")
try:
    selenium_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(selenium_link.get_attribute('href'))

In [48]:
try:
    close = driver.find_element_by_xpath("//div[@class='cb-close']")
    close.click()
except ElementNotInteractableException:
    pass
except NoSuchElementException:
    pass

In [49]:
exception_handling = driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [52]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [53]:
desc=[]
try:
    descrip=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in descrip[1:]:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('No details available')

In [54]:
dataframe=pd.DataFrame()
dataframe['Exception name']=namae
dataframe['Description']=desc
dataframe.style.hide_index()

### Scrape the details of State-wise GDP of India from statisticstime.com.

In [55]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='http://statisticstimes.com/'
driver.get(url)

In [57]:
economy = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [58]:
gdp = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [59]:
gdp = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [65]:
rank=[i for i in range(1,len(state)+1)]

In [66]:
state=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
    for i in name:
        state.append(i.text)
except NoSuchElementException:
    state.append('N/A')
except StaleElementReferenceException:
    state.append('N/A')

In [67]:
gsdp20=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
    for i in name:
        gsdp20.append(i.text)
except NoSuchElementException:
    gsdp20.append('N/A')
except StaleElementReferenceException:
    gsdp20.append('N/A')

In [69]:
gsdp19=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
    for i in name:
        gsdp19.append(i.text)
except NoSuchElementException:
    gsdp19.append('N/A')
except StaleElementReferenceException:
    gsdp19.append('N/A')

In [74]:
share=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
    for i in name:
        share.append(i.text)
except NoSuchElementException:
    share.append('N/A')
except StaleElementReferenceException:
    share.append('N/A')

In [77]:
gdp=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
    for i in name:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('N/A')
except StaleElementReferenceException:
    gdp.append('N/A')

In [78]:
dataframe=pd.DataFrame()
dataframe['Rank']=rank
dataframe['State']=state
dataframe['GSDP at current price (19-20)']=gsdp20
dataframe['GSDP at current price (18-19)']=gsdp19
dataframe['Share (18-19)']=share
dataframe['GDP ($billion)']=gdp
dataframe.style.hide_index()

### Scrape the details of trending repositories on Github.com

In [129]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://github.com/'
driver.get(url)

In [131]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div[3]/nav/a[4]")
try:
    explore.click()
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

In [132]:
trending = driver.find_element_by_xpath("//*[@id='js-pjax-container']/div[1]/nav/div/a[3]")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [133]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in names:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [134]:
desc=[]
try:
    names=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/p")
    for i in names:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('N/A')

In [152]:
lang=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        if 'Languages' in listy:
            lang.append(listy[listy.index('Languages')+1])
        else:
            lang.append('N/A')
except NoSuchElementException:
    lang.append('N/A')

In [136]:
urls=[]
counts=[]
match_page=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a')
for i in match_page:
    urls.append(i.get_attribute('href'))

In [155]:
counts=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        for j in listy:
            if j.split()[0]=='Contributors':
                counts.append(j.split()[1])
                break
        else:
            counts.append('N/A')
except NoSuchElementException:
    counts.append('N/A')

In [156]:
dataframe=pd.DataFrame()
dataframe['Repository title']=namae
dataframe['Repository description']=desc
dataframe['Language used']=lang
dataframe['Contributors count']=counts
dataframe.style.hide_index()

### Scrape the details of top 100 songs on billboard.com.

In [157]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://www.billboard.com/'
driver.get(url)

In [158]:
##Clicking on hot 100
hot=driver.find_element_by_xpath("//a[@class='header__submenu__list__link']")
driver.get(hot.get_attribute('href'))

In [159]:
song=[]
try:
    songs = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
    for i in songs:
        song.append(i.text)
except NoSuchElementException:
    song.append('N/A')

In [160]:
artist=[]
try:
    artists = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('N/A')

In [161]:
rank=[]
try:
    lw = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in lw:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('N/A')

In [162]:
peaky=[]
try:
    peak = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in peak:
        peaky.append(i.text)
except NoSuchElementException:
    peaky.append('N/A')

In [163]:
wks=[]
try:
    WOB = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in WOB:
        wks.append(i.text)
except NoSuchElementException:
    wks.append('N/A')

In [164]:
dataframe=pd.DataFrame()
dataframe['Song name']=song
dataframe['Artist name']=artist
dataframe['Last week rank']=rank
dataframe['Peak rank']=peaky
dataframe['Weeks on board']=wks
dataframe.style.hide_index()

### Scrape the details of Data science recruiters from naukri.com

In [166]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://www.naukri.com/'
driver.get(url)

In [167]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [168]:
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [169]:
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [170]:
urls=[]
url=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in url:
    urls.append(i.get_attribute('href'))

In [171]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [173]:
des=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        des.append(i.text)
except NoSuchElementException:
    des.append('N/A')

In [174]:
skill=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        skill.append(i.text)
except NoSuchAttributeException:
    skill.append('N/A')

In [175]:
comp=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        comp.append(i.text)
except NoSuchElementException:
    comp.append('N/A')

In [176]:
loc=[]
for j in urls:
    driver.get(j)
    try:
        for i in driver.find_elements_by_xpath("//div[@class='rFrame fl infoWrapper']//div[5]//a"):
            loc.append(i.text)
    except NoSuchAttributeException as e:
        loc.append('N/A')

In [178]:
dataframe=pd.DataFrame()
dataframe['Name']=namae
dataframe['Designation']=des
dataframe['Company']=comp
dataframe['Skills they hire for']=skill
dataframe['Location']=loc
dataframe.style.hide_index()

### Scrape the details of Highest selling novels.

In [179]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [180]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [181]:
auth=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        auth.append(i.text)
except NoSuchElementException:
    auth.append('N/A')

In [182]:
vol=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in names:
        vol.append(i.text)
except NoSuchElementException:
    vol.append('N/A')

In [183]:
pub=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in name:
        pub.append(i.text)
except NoSuchElementException:
    pub.append('N/A')

In [184]:
genre=[]
try:
    name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in name:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('N/A')

In [185]:
dataframe=pd.DataFrame()
dataframe['Book name']=namae
dataframe['Author name']=auth
dataframe['Volumes sold']=vol
dataframe['Publisher']=pub
dataframe['Genre']=genre
dataframe.style.hide_index()

### Scrape the details most watched tv series of all time from imdb.com

In [186]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [187]:
namae=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        namae.append(i.text)
except NosuchElementException:
    namae.append('N/A')

In [189]:
year=[]
try:
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in name:
        year.append(i.text)
except NosuchElementException:
    year.append('N/A')

In [190]:
genre=[]
try:
    name=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in name:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('N/A')

In [191]:
time=[]
try:
    name=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in name:
        time.append(i.text)
except NoSuchElementException:
    time.append('N/A')

In [192]:
rating=[]
try:
    name=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in name:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('N/A')

In [193]:
votes=[]
try:
    name=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in name:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('N/A')

In [194]:
dataframe=pd.DataFrame()
dataframe['Name']=namae
dataframe['Year span']=year
dataframe['Genre']=genre
dataframe['Run Time']=time
dataframe['Ratings']=rating
dataframe['Votes']=votes
dataframe.style.hide_index()

### Details of Datasets from UCI machine learning repositories

In [195]:
driver=webdriver.Edge('edgedriver_win64/msedgedriver.exe')
url='https://archive.ics.uci.edu/'
driver.get(url)

In [196]:
btn=driver.find_element_by_xpath("//a[@href='datasets.php']")
btn.click()

In [197]:
namae=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in name:
        namae.append(i.text)
except NoSuchElementException:
    namae.append('N/A')

In [199]:
typee=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in name[1:]:
         typee.append(i.text)
except NoSuchElementException:
    typee.append("N/A")

In [201]:
task=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in name[1:]:
         task.append(i.text)
except NoSuchElementException:
    task.append("N/A")

In [202]:
attr=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in name[1:]:
         attr.append(i.text)
except NoSuchElementException:
    attr.append("N/A")

In [203]:
instance=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in name[1:]:
         instance.append(i.text)
except NoSuchElementException:
    instance.append("N/A")

In [204]:
attributes=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in name[1:]:
         attributes.append(i.text)
except NoSuchElementException:
    attributes.append("N/A")

In [205]:
year=[]
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in name[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("N/A")

In [206]:
dataframe=pd.DataFrame()
dataframe['Dataset name']=namae
dataframe['Data type']=typee
dataframe['Task']=task
dataframe['Attribute type']=attr
dataframe['No of instances']=instance
dataframe['No of attribute']=attributes
dataframe['Year']=year
dataframe.style.hide_index()